Flask==3.0.3
flask-jwt-extended==4.6.0
flask-pymongo==2.3.0
flask-bcrypt==1.0.1

flasgger==0.9.7.1
PyYAML==6.0.2

python-dotenv==1.0.1
pymongo==4.8.0

tflite-runtime==2.16.0
numpy==1.26.4
Pillow==10.4.0

numpy==1.26.4
Pillow==10.4.0

reportlab==4.2.2

requests==2.32.3

gunicorn==22.0.0
Werkzeug==3.0.3